<footer class="footer">
  <div class="footerRow1">
    <p>Contact<br>
      Address: Circus road st.<br>
      Zip: 171 632<br>
      Road 66
    </p>
  </div>
  <div class = "vertical"></div>
  <div class="footerRow2">
    <img class="iconsFooter" src="/images/fc-icon.png" alt="fcIcon">
    <img class="iconsFooter" src="/images/insta-icon.png" alt="instaIcon">
    <img class="iconsFooter" src="/images/mail-icon.png" alt="mailIcon">
  </div>
</footer>
</body>
</html>