<header>
  <div class="title">
    <img src="/images/logo.png" alt="logo" class="logo">
  </div>
  <nav class="pagesNav">
    <a href="/pages/startpage">
      <p class="a1">Home</p>
    </a>
    <a href="/pages/members">
      <p class="a2">Members</p>
    </a>
    <a href="/pages/createuser">
      <p class="a3">Create user</p>
    </a>
  </nav>
</header>