<%- include ('../partials/head')%>
<%- include ('../partials/header')%>
<main class="startPageMain">
  <div class="contentStartPage">
      <img src="/images/circus-b.jpg" alt="circusImg" class="circusImg">
  </div>

    <div class="rightSide">
      <img src="/images/startText.png" alt="startText" class="welcomeTextImg">
        <h2>About us</h2>
        <p>The first modern circus was opened in 1768 by Philip Astley but some say that circuses as a way of public entertainment originate from ancient Rome and their “circuses”. Contemporary circus, as we know it today, appeared for the first time in 1970s. It's a combination of classic circus and theater. 
        Circuses are often accused of mistreatment of animals, but not in our circus club. Animals do not performe in our shows, they are more than welcome to sit with audiance and enjoy our shows. 
        We welcome to our Circus Club all the creative ones with passion for imagination, new ideas for development and ambition to achieve different life style. 
        </p>
    </div>
  
</main>

<%- include ('../partials/footer')%>